# Virtual environment
.venv/
venv/
.env/
env/

# PyCache
__pycache__/

# Credential Files
credentials*

# Input and Output Data
input_data/
output_data/
output/
EverNote Notes/

# Zed Files
.ropeproject/

# Temporary Files
temp/

# Session Files
.session/
*.pickle
# Session Files

# Log Files
extraction_log.json
